<table id="users" class="display" data-source="<%= users_url(format: "json") %>">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>